.bg-1{background-color: #599098;}

.bg-2{background-color: #E9F3FF;}

.bg-3{background-color: #D9DFFF;}

.bg-4{background-color: #2D3155;}

.bg-5{background-color: #9Bc2d8;}

.bg-6{background-color: #356d8c;}

.menu{ background-color: #599098;}

.font_menu{
    color: #599098;}

 .font_menu:hover{
  color: #2D3155;}


.content-top{
  padding-top: 6.5rem;
}

.navbar,.navbar-brand {
  transition: 800ms;
}
.tiny{
  padding-left: 1rem;
  padding-right: 1rem;
}

 

.tiny .img-navbar-brand {
  height:2.5rem;
}


.img-navbar-brand{
  height: 3.5rem;
}

      