.Athiti{font-family: "Athiti";}

p{font-family: "Athiti";}
h5{font-family: "Athiti";}

div.head{color: rgba(214, 178, 130, 0.794);}


div.bg{background-color: rgba(214, 178, 130, 0.794);}

a.a{  font-family: "Athiti";
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;    
}

a{  font-family: "Athiti";
       
}

a.self{ background-color: rgba(168, 145, 115, 0.529);}

div a.a:hover{background-color: rgba(168, 145, 115, 0.716)}

a.b{
    text-decoration: none;
    color: black;
}
a.b:hover{color: rgba(214, 178, 130, 0.794)}

div.hold:hover{
    background-color: rgba(214, 178, 130, 0.794);
    color: white;
}

div.card:hover{
    background-color: rgba(214, 178, 130, 0.794);
    color: white;
}